html {
  color: blue;
  font-family: sans-serif;
}
header {
  color: blue;
}
button {
  background: green;
}
h3 {
  margin: 100px;
}
.fancier-border {
  border: 4px dashed blue;
  background: #ccc;
  padding: 10px;
  border-radius: 4px;
}
p {
  font-size: 46px;
  color: brown;
}
main {
  background: yellow;
}
main p {
  color: red;
}
main article {
  color: purple;
}
main article button {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  color: #fff;
}
p {
  font-size: 30px;
  color: #25682a !important;
}
button {
  font-size: 20px;
}
