@theme-color: blue;
@p-margin-size: 100px;

html {
    color: @theme-color;
    font-family: sans-serif;

}
header {
    color: @theme-color;
}

button {
    background: green;
}

h3{
    margin: @p-margin-size;
}